* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1rem;
  padding: 1rem;
  color: #ccc;
  background-color: #333;
  font-family: sans-serif;

  h1 {
    color: rgb(213, 213, 118);
  }

  .techbook {
    background-color: #222;
    margin: 1rem;
    padding: 1rem;
  }

  .title {
    margin-bottom: 0.5rem;
    color: greenyellow;
    font-size: 1.25rem;
  }

  .description {
    color: aqua;
  }

  span {
    color: beige;
    font-size: initial;
  }
}
